* { padding: 0px; margin: 0px; font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif; }
body{
    background-color: rgba(0, 0, 0, 0.95);
    position: relative;
}
::placeholder { font-weight: 400; font-size: 15px; text-align: center; }
.M{
    background-color: transparent;
    border: none;
    border-bottom: solid rgba(255, 255, 255, 0.691) 1px;
    color: white;
}
.M:focus{
    outline: 0;
    background-color: transparent;
    color: white;
}
.layer-info
{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 800;
}
.movie img{
    width: 100%;
}
.movie{
    position: relative;
    overflow: hidden;
    width: 300px;
    margin: auto;
}
.movieinfo{
    color: rgb(0, 0, 0);
}
.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    max-height: 100%;
    transform: translateY(101%);
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in;
    text-align: center;
    font-weight: 800;
}
.movie:hover .overview{
    transform: translateY(0);
}
.sidenav {
    background-color: black;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}
.mainimg span
{
    position: absolute;
    left: 0px;
    top: 300px;
}
.sidenav a{
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}
.sidenav a:hover{
    color: red;
    transition: 0.5s;
}
.strip-header-nav 
{
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 100vh;
	z-index: 55555555;
	background-color: #f8f6f6;
	text-align: center;
	transition: all 0.6s ease;
    
}
.strip-logo 
{
	padding:25px 0;
}

.strip-logo img 
{
	height: 48px;
}

.strip-toggel-menu
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.strip-toggel-menu i 
{
	font-size: 25px;
}

.strip-social-icon
{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	z-index: 11;
}
.strip-social-icon div 
{
	padding-top: 10px
}

.nav-social-item 
{
	position: absolute;
	bottom: 50px;
	left: 20px;
}
.nav-social-item  a 
{
	color: #f9f6f6;
	padding-left: 15px;
	font-size:14px;

}